.contenedor{
  
width: 100%;
height: 6000px;
background-color: rgb(167, 135, 231);
display: flex;
flex-direction:column ;
text-align: center;

}

.encabezado{
    width: 100%;
    height: 200px;
    background-color: rgb(148, 92, 201);

    font-size: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    

    
}
.biologia{
    width: 100%;
    height: 800px;
    background-color: rgb(88, 238, 225);
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;


}

.quimica{
    width: 100%;
    height: 600px;
    background-color: rgb(0, 235, 215);
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;

}

.matematicas{
    width: 100%;
    height: 1800px;
    background-color: rgb(255, 231, 95);
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    ;

}

.ingles{
    width: 100%;
    height: 7000px;
    background-color: rgb(247, 199, 168);
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     text-align: calc( separate);

}

.tecnologia{
    width: 100%;
    height: 800px;
    background-color: rgb(47, 165, 233);
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}