.contenedor{
  
width: 100%;
height: 1200px;
background-color: rgb(167, 135, 231);

}

.encabezado{
    width: 100%;
    height: 200px;
    background-color: rgb(148, 92, 201);

}

.sociales{
    width: 100%;
    height: 100px;
    background-color: rgb(12, 161, 230);

}